{% extends 'base.html' %}


{% block content %}

<style>
    div form input{
        display: block;
        margin-top: 20px;
        width: 100%;
        height: 40px;
        border-radius: 5px;
    }
</style>

<div class="container" style="width: 400px; height: 290px; background-color: orange; margin-top: 260px;
                            border-radius: 10px;">
    <h1 style="color: aqua; font-family: PT serif; text-align: center;">Login</h1>
    <form action="/customer/authenticate/" method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        {% for message in messages %}
            <p style="color: red; text-align: center;"> {{message}} </p>
        {% endfor %}
        <input class="btn btn-success" style="width: 30%; margin-left: 35%; margin-top: 20px;" type="submit" value="Login">
    </form>
</div>

{% endblock %}